<!DOCTYPE html>
<html lang="en">

  <head>

{# Load the tag library #}
{% load bootstrap4 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site Banco de Tempo de Florianópolis">
    <meta name="author" content="Luciana Cury">

    <title>Banco de tempo de Florianópolis</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href=#>BTF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'assoc_home' %}">Associados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'operacao' %}">Administradores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index_saiba' %}">Saiba Mais</a>            
            </li>
            <li class="nav-item">
              <a class="nav-link" href=#>Fale com a gente</a>            
            </li>
          </ul>
        </div>
      </div>
    </nav>

              {% block content %}


              {% endblock %}



    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BTF 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
