{% load staticfiles %}

<html>
    <head>
        <title>Teste BTF</title>       
         <link   rel="stylesheet"    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link   rel="stylesheet"    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
          <link   rel="stylesheet"    href="{%    static  'css/btf_saldo.css'  %}">  
                     

    </head>
<body>
    <img alt="django" src="/media/capa-btf.jpg">

    <table>
        <tr>
            <td colspan="4">
                <div class="page-header">

                    <h1>Aplicativo Piloto do BTF</h1>

                </div>
            </td>
            </tr>
            </table>


<ul class="nav nav-pills">
  <li class="nav-item">                
  <a class="nav-link" href="{% url 'home' %}">Inicio</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Talentos</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'talento_list' %}">Lista</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'talento_crud' %}">Novo Talento</a>
      
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'lancamento_new' %}">Transferir Créditos</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'geral' %}">Saldos</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="{% url 'lancamento_new' %}">Transferir Créditos</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cadastro_list' %}">Contas</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cadastro_crud' %}" >Novo Cadastro</a>
  </li>
    
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>


<BR><BR>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}


            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

