{% extends 'btf_saldo/base.html' %}

{% block content %}

<h3>Consulta Saldo Banco de Tempo de Florianopolis</h3>
	<table border = 1>
	<tr>
		<td colspan =2 align="right">
		<td colspan = 2 align="center"> Saldo Inicial</td>
		<td colspan =2 align="center">Saldo Final</td>
		<td>&nbsp;</td>
		<td colspan =3 align="center">Seus Talentos</td>
		<td colspan =3 align="center">Recebendo Talentos</td>

	</tr>
	<tr>
		<td> Conta </td> 
		<td>Nome</td>
		<td>Dt Inicio</td>
		<td>Cred Hrs</td>
		<td>Dt Final</td>
		<td>Cred Hrs</td>
		<td>Extrato</td>
		<td>Super Recomendo</td>
		<td>OK</td>
		<td>Deu Ruim</td>
		<td>Super Recomendo</td>
		<td>Trocas Tranquilas</td>
		<td>Deu Ruim</td>


	</tr>

	{%	for	cadastro	in	cadastros	%}
		<tr>
			<td> {{	cadastro.conta	}} </td>
			# <td><a href="{% url 'movimentacao' pk=cadastro.pk %}"> {{ cadastro.nome}}</a></td> 
			<td>&nbsp;</td>
			<td>{{cadastro.saldo_inicial}}</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><a href="{% url 'movimentacao' pk=cadastro.pk %}"> Detalhes</a></td> 
		</tr>

		
	{%	endfor	%}
	</table>

{% endblock %}