{% extends 'btf_saldo/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}



{% block content %}

<h3 class="text-primary"> O que é um talento? </h3>
<p class="text-dark">Talento é qualquer coisa que você sabe fazer, com perfeição ou não, que pode ajudar as pessoas aqui nesse grupo.
<BR>É algo que você desenvolveu ou está desenvolvendo e não é necessário que isto seja sua profissão.</p>

<h3  class="text-primary">Quais os talentos que você pode cadastrar aqui ?</h3>
<p class="text-dark">Todos nós temos muitos talentos e podemos ajudar de diversas formas. Muita gente é capaz de cuidar de crianças, de passear com cachorros, de ajudar as pessoas com cuidados com a casa.
<BR>
Você não precisa cadastrar todos os talentos que você tem aqui.
<BR>Você deve cadastrar os talentos que você quer oferecer ao grupo sempre que puder, aqueles talentos que fazem seu tempo feliz, aquilo que você curte fazer.
<BR>Ai, quando alguém precisar do seu talento e consultar na lista, você poderá atender de muito bom grado, né ?</p>

<h3  class="text-primary">Mas você pode oferecer ao grupo algum talento que não está cadastrado?</h3>
<p class="text-dark">Sim, pode! E deve fazer isso sempre que quiser.
<BR>Se alguém no grupo estiver procurando por algum talento que você tem, mas não cadastrou, ofereça-se! </p>

<h3  class="text-primary">Por que O BTF tem uma lista de talentos ?</h3>
<p class="text-dark">Porque nem todo mundo tem acesso a internet e ao facebook toda hora e muitas vezes não consegue ver as postagens.
<BR>Pela lista, qualquer associado pode encontrar os talentos que precisam e começar um contato.
Seja bem claro ao cadastrar seus talentos e as restrições existentes na oferta desse talento.</p>

<div margin-left="3">
<table border =0>
<tr><td>Alguns exemplos de talentos no cadastro</td></tr>
<tr><td><small>Pisicóloga</small></td></tr>
<tr><td><small>Mantenho dois pacientes pelo BTF e mantenho uma lista de espera para, caso eu possa oferecer mais atendimentos, entrar em contato com os associados interessados.</small></td></tr>
<tr><td><small>&nbsp;</small></td></tr>
<tr><td><small>Cozinheira</small></td></tr>
<tr><td><small>Ofereço pães no BTF. Posso oferecer entregas regulares para pessoas próximas a minha residência. Manterei 4 pessoas com entregas regulares e não tenho lista de espera.</small></td></tr>
<tr><td><small>Aceito encomendas de pães em pequenas quantidades.</small></td></tr>
<tr><td><small>&nbsp;</small></td></tr>
<tr><td><small>Doces veganos:</small></td></tr>
<tr><td><small>Ofereço doces veganos sob encomenda em pequenas quantidades.</small></td></tr>
<tr><td><small>Em grandes quantidades, os insumos ficam por conta de quem está encomendando.</small></td></tr>
<tr><td><small>&nbsp;</small></td></tr>
<tr><td><small>Workshops de culinária:</small></td></tr>
<tr><td><small>Tenho muita experiência com alimentação e posso organizar workshops de culinária.</small></td></tr>
<tr><td><small>&nbsp;</small></td></tr>
<tr><td><small>Marcenaria</small></td></tr>
<tr><td><small>Ofereço pequenos reparos em movéis,montagem e desmontagem.</small></td></tr>
<tr><td><small>&nbsp;</small></td></tr>
<tr><td><small>Transporte</small></td></tr>
<tr><td><small>Posso levar você onde você precisa ir – datas e horários dependerão da minha disponilidade. Distâncias de até 10 km por minha conta, nas distâncias maiores podemos combinar o que fazer com a gasolina.</small></td></tr>
<tr><td><small>&nbsp;</small></td></tr>
<tr><td><small>Pequenos fretes: tenho um carro grande e posso buscar coisas se você precisar. </small></td></tr>
</table>
</div>

<BR>


<p class="text-dark">Vale lembrar que não é permitido oferecer aos associados que lhe procurarem pela lista de talento a realização do mesmo por dinheiro!</p>




<h3  class="text-primary">E, para a boa convivência no grupo...</h3>
<p class="text-dark">Uma das leis desse grupo é o respeito pelo outro.
<BR>Existem regras contra: deixar o outro sem resposta, não cumprir com o combinado, faltar em eventos em grupo, etc.
<BR>Se você se sente desrespeitado por outro associado, comunique a administração do grupo</p>




{% endblock %}