{% extends 'btf_saldo/base.html' %}

{% block content %}

<h3 class="text-primary">Como o BTF Funciona</h3>

<p class="text-dark">
O Banco de Tempo de Florianópolis é um grupo de pessoas que trocam seus talentos por créditos de tempo. E estes créditos podem ser trocados pelo talento de outras pessoas.<BR>

Funciona assim: você se junta ao nosso <a href="https://www.facebook.com/groups/837082279745501/">Grupo no Facebook</a> e se cadastra seguindo as informações no post fixo do grupo.<BR>

Quando seu cadastro for confirmado, você recebe 4 horas para começar a fazer as suas primeiras trocas no BTF.<BR>
Só depois que usar estas horas, você poderá oferecer seus talentos ao grupo.</p>


<h4 class="text-primary">Como é que as pessoas trocam ?</h4>
<p class="text-dark">
Quando a gente precisa do talento de alguém, a gente pode encontrar na lista de talentos aqui deste site quem pode nos ajudar.<BR>
O contato é feito pelo Facebook. Por isso, todos os associados precisam ser membros do grupo de trocas. Encontrou alguém que oferece o talento que você precisa, manda uma mensagem privada para a pessoa e comece o contato com ela.<BR>
Seja bem claro, explique que você é do Banco de Tempo também e está procurando pelo talento que a pessoa está oferecendo na lista. Mesmo sendo um talento cadastrado na lista, pode ser que a pessoa não consiga te atender no momento e isso não a desabona como associada, mas, ela não poderá se oferecer "por fora do BTF" com pagamento em dinheiro. <BR>
Um outra forma é fazer uma postagem no grupo procurando pelos talentos que você precisa.
</p>


<h4 class="text-primary">Como transfiro meus créditos para outra pessoa?</h4>
<p class="text-dark">
Quem solicita um talento é responsável por transferir os créditos de tempo à pessoa que ofereceu o talento. É muito simples fazer isso: basta preencher <a href="https://goo.gl/mDKArN"> esse formulário aqui</a><BR>
O BTF não intermedia nenhuma negociação. É de responsabilidade de cada associado transferir os créditos pela trocas dos talentos, acompanhar o processamento desta transferência e zelar pelo controle do saldo e movimentações em sua própria conta no BTF.</p>


<h4 class="text-primary">Por que não posso oferecer meus talentos assim que me cadastro?</h4>
<p class="text-dark">
Nestes quase 3 anos de existência do Banco (maio/2.018), a gente percebeu que as pessoas só entendem que os valores que regem as nossas trocas não são os mesmos que nos fazem escolher as coisas quando usamos dinheiro de uma forma: participando das trocas.<BR>
É isso, tempo vale muito mais que dinheiro!<BR>
Com o tempo, nas trocas, a gente percebe que temos muito a oferecer e podemos escolher quais são os nossos talentos que queremos compartilhar no grupo. Ninguém deve oferecer algo que possa, de alguma maneira, ser prejudicial a si mesmo.</p>

<h4 class="text-primary">Como a gente consegue cŕeditos de hora?</h4>
<p class="text-dark">Trocando...<BR>
Mas, se você não pode oferecer seus talentos ainda, como fazer ? Você pode particpar de algum projeto social do BTF, mesmo sendo um associado novo. Nos projetos que o BTF apoia, quem participa recebe créditos pelo trabalho realizado. Conheça os projetos, acessando nossa página:
</p>


<h4 class="text-primary">Quem pode participar do BTF?</h4>
<p class="text-dark">Qualquer pessoa que more na região de Florianópolis ou tenha alguma relação com a cidade.<BR>
Não permitimos cadastro de empresas, organizações, escolas, grupos... O grupo é uma troca de talentos pessoais.<BR>
Nosso cadastro é associado ao perfil pessoal no Facebook. Se você tiver mais de um perfil, vc só pode participar com deles no BTF.
</p>



{% endblock %}