{% extends 'btf_saldo/base_index.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%  block content %}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h3 class="display-3">Como funciona?</h1>
        <p class="lead">Num Banco de Tempo, o mais importante é aquilo que a gente faz e o mercado profissional não valoriza.</p>
        <p class="text-secondary">
        E se houvesse uma maneira da gente poder usar os talentos que a gente desenvolve porque curte e não tem valor comercial para poder contribuir com a sociedade e, de quebra, conseguir mais tempo pra gente?</p> 

        <p class="text-primary">O grupo é um Banco e para particpar você precisa abrir a sua conta.</p>
        <p class="text-success">É simples de usar, se você entender que dinheiro não entra aqui e o que se troca é o seu talento. E essa não é uma maneira alternativa de chamarmos Serviços e Produtos.</p>
        <p class="text-danger">Como qualquer grupo, temos nossas normas que servem para balizar as trocas dentro da filosofia do banco e promover os valores que fazem tanta falta na sociedade: empatia, respeito, solidariedade, colaboração.</p>

        <a href="#" class="btn btn-primary btn-lg">Junte-se!</a>
      </header>


      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            {% load static %}
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %} alt="">
            <div class="card-body">
              <h4 class="card-title">Como trocamos</h4>
              <p class="card-text">Trocamos tempo em forma de talentos e você precisa fazer parte do Banco para poder trocar.</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'index_trocamos' %}" class="btn btn-primary">Entenda melhor</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %}  alt="">
            <div class="card-body">
              <h4 class="card-title">Se dê bem </h4>
              <p class="card-text">A dica é: faça a sua parte. Não espere que o outro faça por você.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Autoresponsabilidade</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %}  alt="">
            <div class="card-body">
              <h4 class="card-title">Seus Talentos</h4>
              <p class="card-text">Ofereça seus talentos na lista e mais, ofereça-se sempre que puder!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Como ter créditos</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %}  alt="">
            <div class="card-body">
              <h4 class="card-title">Não acumular</h4>
              <p class="card-text">Tempo a gente usa, não adianta poupar. Use o seu tempo com parcimônia</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Reprogramando</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}