{% extends 'btf_saldo/base_index.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%  block content %}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h3 class="display-3">Florescer</h1>
        <p class="lead">Para um Banco de Tempo florescer, ele precisa de você.</p>
        <p class="text-secondary">Somos um grupo que troca experiências, troca, tempo, troca talentos, troca vida.</p>
        <p class="text-secondary">E fazemos essa troca na contra-mão da sociedade que se desenvolve num modelo de consumo. Nada aqui é fácil e tudo depende de você.</p>
        <p class="text-secondary">Não existe um grupo promovendo a filosofia do Banco, existe o que você fala do Banco por ai.</p>
        <p class="text-secondary">Não existe um setor responsável por trazer talentos para atender as suas necessidades. Mas vocẽ pode ajudar saindo da sua zona de conforto e ajudando o próximo nas necessidades dele. Se cada um fizer isso, olha só, as necessidades de todos serão atendidas.</p>
        <p class="text-secondary">Não existe PROCOM, departamento de cobrança, SAC ou coisa similar aqui. As trocas são responsabilidade das pessoas que trocam. Não tá dando certo? Tenta de outro jeito: se empenha para que os outros associados entendam o BTF, quem sabe a situação não muda.</p>
        <p class="text-secondary">O Banco não está satisfazendo seus anseios? Pois será que você espera do BTF aquilo que você está disposto a contribuir também? A vida é isso, a gente dá e recebe!</p>
        
        

        
        
        <a href="#" class="btn btn-primary btn-lg">Junte-se!</a>
      </header>


      

    </div>
    <!-- /.container -->

{% endblock %}