{% extends 'btf_saldo/base_index.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%  block content %}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h3 class="display-3">Area em construção!</h1>
        <p class="lead">Se cada um contribuir um pouquinho, a gente muda tudo.</p>
        <p class="text-secondary">Toda hora a gente lê no grupo que o BTF podia ser de um jeito melhor. Não faltam sugestões, criticas, soluções para tudo lá nas postagens. E é isso mesmo, cada um pode fazer o BTF ser muito melhor. Bora lá, ajudar? Procure Luciana Cury e conte como você quer colaborar com a construção dessa nova plataforma. </p>
        <a href="#" class="btn btn-primary btn-lg">Doe seu tempo ao BTF!</a>
      </header>


      

    </div>
    <!-- /.container -->

{% endblock %}