{% extends 'btf_saldo/base_index.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%  block content %}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h3 class="display-3">Falta fazer o texto</h1>
        <p class="lead">Definr o que quer falar</p>
        <p class="text-secondary">Escrever qualquer coisa</p>
        <a href="#" class="btn btn-primary btn-lg">Junte-se!</a>
      </header>


      

    </div>
    <!-- /.container -->

{% endblock %}