{% extends 'btf_saldo/base_index.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%  block content %}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h3 class="display-3">Como funciona?</h1>
        <p class="lead">Num Banco de Tempo, o mais importante não é aquilo que a gente faz pra ganhar dinheiro.</p>
        <p class="text-secondary"><small>
           
O mercado profissional valoriza nossos talentos de acordo com as necessidades do mercado. E estas necessidades nem sempre acompanham o que a comunidade onde nos apoiamos necessita.<BR>
Num Banco de Tempo, a gente valoriza de forma igual o talento de cada um. Aquilo que a gente sabe fazer com gosto, os talentos que se desenvolveram ao longo de anos nos dedicando a alguma coisa, mas que nem sempre são valorizados financeiramente. É por isso que o nosso valor de troca é o tempo que a gente usa ao oferecer um talento para alguém. <BR>
Tempo é igual para qualquer um. Uma hora que você passa prestando um serviço a alguém do grupo é a mesma hora que alguém vai usar prestando um serviço a você. Ai, você fica livre pra escolher (e valorizar) como é que você vai usar seu tempo.</p>

<p class="text-info">Para trocar, você precisa ser um associado</p>
<p class="text-secondary"><small>
Estamos falando de um Banco e para se associar você precisa se cadastrar.<br>
E para começar a trocar, ao se associar, você abre a sua conta com 4 créditos de horas que você poder usar nas primeiras trocas. Você não ganhou estas horas. Entenda sobre a lógica financeira por trás do BTF.<br>
Todas as trocas são registradas e contabilizadas no seu saldo. Acompanhe sempre o seu saldo por aqui: planilha de créditos do BTF.
É nessa planilha que você se certifica que as pessoas são associadas ao BTF. Cuidado, sempre verifique isso antes de trocar.
</small>
<p class="text-info">E como a gente troca?</p>
<p class="text-secondary"><small>
O BTF existe de forma virtual. Não temos sede, não temos pontos de troca, não temos uma moeda. Não associamos tempo com dinheiro, você vai começar a perceber isso conforme participar das trocas. Mas temos gente que se junta e fazem a vida acontecer fora desse ambiente virtual.<br>
Aqui no site, você encontra a lista de pessoas que estão oferecendo os seus talentos no Banco de Tempo. Para entrar em contatos com estes associados, você precisa fazer parte do grupo Banco de Tempo de Florianópolis e entrar em contato com estes associados através do messenger.<br>
O BTF não intermedia trocas, não garante qualidade, não faz cobranças, não interce nas negociações. O BTF só registra o seu saldo em créditos de tempo e disponibiliza a lista de talentos oferecidos pelos associados. De maneira nenhum o BTF promove, entre seus associados, relações de consumo.<br>
Os associados interagem pelo grupo do Facebook. Na timeline do grupo, você poderá encontrar postagens de associados oferecendo talentos ou produtos decorrentes dos talentos que os associados oferecem.<br>
As trocas acontecem de duas maneiras - pelo contato direto com os outros associados ou pelas postagens na timeline do grupo. O BTF não intermedia nenhuma troca, não garante a qualidade de nenhum serviço ou produto, não intercede em nenhuma negociação e, principalmente, o BTF não legitima nenhum serviço ou produto oferecido aqui. O Banco de Tempo limita-se a colocar as pessoas em conexão e registrar as trocas para contabilizar o saldo de cada associado.
Se você acabou de se cadastrar, você pode pesquisar na nossa lista de talentos (link na publicação fixada), quais são os outros associados que oferecem os talentos que você precisa ou acompanhar as postagens no grupo e manifestar seu interesse nos oferecimentos que os outros associados fazem.
Seja sempre muito claro e peça todas as informações necessárias para se decidir pelas trocas. No subentenda nada, evite os maus-entendidos e se alguém oferecer algo fora das regras do BTF, entre em contato com os moderadores.
Tem gente oferecendo muita coisa legal. Participe dos eventos em grupo, conheça os projetos sociais do BTF. Arrume tempo para isso. No BTF, o barato é participar da comunidade, as trocas acabam sendo apenas uma parte de um universo que se abre de reflexões.
Quando você troca, você deve transferir seus créditos de hora para a pessoa que lhe ofereceu o produto/serviço. Preencha o formulário de transferência (o link está no post fixo) e acompanhe as postagens de processamento das transferências de créditos para saber se tudo deu certo. Você também deve consultar seu saldo e o registro de movimentações na planilha de créditos (o link também está no post fixo)
Não falte aos compromissos agendados. Por isso, se candidate a sorteios ou eventos se vc realmente tiver interesse na troca, tiver certeza que vai poder comparecer na troca e se tem o saldo suficiente. Se vc não cumpre com o que combinou prejudica o grupo. Aqui, as coisas não são de graça, como parecem. Tempo é o que nós temos de mais precioso, vc vai notar isso. Sabemos que imprevistos acontecem, mas imprevistos são raros.
Você pode oferecer talentos que não estão cadastrados na sua lista. Apareceu alguém pedindo algo que você sabe fazer lá no grupo, candidate-se a ajudar! Viu que o frio tá chegando e você sabe fazer luvas de crochê, faça algumas e ofereça no grupo.
Quando estiver oferecendo um produto/serviço, antes de trocar, confira se a pessoa tem saldo suficiente para efetuar a troca. 
Mantenha seu nome sempre atualizado no grupo, se trocar o seu nome no FB, comunique a administração. Fique de olho no seu inbox e veja as notificações do grupo. É de bom tom a gente sempre responder quando nos procuram por aqui. 
O funcionamento é simples! Leia as regras do BTF (https://goo.gl/hj3ZxY), elas garantem a igualdade entre todos os associados no que diz respeito  ao talento e ao tempo.
Se tiver duvidas, consulte nossa página, acompanhe o grupo ou entre em contato com os moderadores e administradores da página.
E seja muito bem vindo! </small></p>
        <a href="#" class="btn btn-primary btn-lg">Junte-se!</a>
      </header>


      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            {% load static %}
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %} alt="">
            <div class="card-body">
              <h4 class="card-title">Como trocamos</h4>
              <p class="card-text">Trocamos tempo em forma de talentos e você precisa fazer parte do Banco para poder trocar.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Entenda melhor</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %}  alt="">
            <div class="card-body">
              <h4 class="card-title">Se dê bem </h4>
              <p class="card-text">A dica é: faça a sua parte. Não espere que o outro faça por você.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Autoresponsabilidade</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %}  alt="">
            <div class="card-body">
              <h4 class="card-title">Seus Talentos</h4>
              <p class="card-text">Ofereça seus talentos na lista e mais, ofereça-se sempre que puder!</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Como ter créditos</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src={% static "btf_saldo/h_definir.jpg" %}  alt="">
            <div class="card-body">
              <h4 class="card-title">Não acumular</h4>
              <p class="card-text">Tempo a gente usa, não adianta poupar. Use o seu tempo com parcimônia</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Reprogramando</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}