{% extends 'btf_saldo/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

<p class="text-dark">Seja Bem-vindo ao aplicativo do BTF!</p>
<BR>
<span class="text-dark">
Se você estiver usando um celular, no canto direito da tela tem uma listinha que é o Menu do aplicativo.<BR>
Para cadastrar seu talento, clica na listinha, seleciona Talento e depois Recadastro(Novo Talento)<BR>
A lista de Talentos tá valendo! Olha lá quanto talento legal já está aparecendo aqui!
<BR><BR>
Esse site ainda está em construção e a sua opnião (sugestões, criticas e desejos) é muito importante para que ele fique bom.<br>
Se encontrar alguma dificuldade, por favor, entre em contato com os administradores do grupo.
<BR><BR>
Se você ainda não é associado ao Banco de Tempo, siga as instruções no post fixo do grupo do facebook. <br>
O cadastro ainda é feito lá.

</span>
<BR><BR>
<span class="text-secondary">
Num Banco de Tempo, o importante não é aquilo que a gente faz pra ganhar dinheiro.<BR>
O mercado profissional valoriza nossos talentos de acordo com que o mercado precisa e essa valoriza nem sempre coincide com o que a comunidade que participamos precisa formamos precisa na realidade. Num Banco de Tempo, a gente valoriza o talento de cada um - aquilo que a gente sabe fazer com gosto, os talentos que a gente desenvolveu ao longo de nossa vida toda, mas que nem sempre são valorizados financeiramente. Por isso, a nossa moeda é o tempo que a gente usa ao oferecer esse talento pra alguém. Tempo é igual para qualquer um. Uma hora que vc passa prestando um serviço a alguém do grupo é a mesma hora que alguém vai usar prestando um serviço a você. Ai, vc fica livre pra escolher (e valorizar) como é que você vai usar seu tempo.</span>


{% endblock %}