

<!DOCTYPE html>
<html lang="en">

  <head>


<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href={% static "css/clean-blog.min.css" %} rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="post.html">Sample Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url(' {% static 'btf_saldo/img/post-bg.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Fazer ao invés de reclamar</h1>
              <h2 class="subheading">num dia de desesperança, dois amigos resolvem fazer a parte deles.</h2>
              <span class="meta">Luciana Cury
                <a href="#">BTF</a>
                 24 de Agosto de 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Giberto e Geovana conheceram, através de um outro grupo do facebook, o Banco de Tempo de Garopaba, em 2.016. Na época, a inciativa estava sendo conduzida por Zeno e X</p>

            <p>Se encantaram com o projeto, o pessoal de Garopaba deu todo o apoio possivel na ideia e, cientes que não seria fácil fazer acontecer foram vendo o que fazer.</p>

            <p>Geovana aguardando a Céu nascer e num dia de desesperança, na casa de seu amigo, Giba, resolveram colocar força para que essa ideia saisse do papel.</p>

            <p>Fundaram o grupo no facebook e sairam falando da ideia por ai...</p>

            <p>Um ano depois, decidiram fazer o lance virar.</p>
            <p>Resolveram chamar a Thais que eles conheceram no coletivo Zeitgeist e Festa de niver de 1 ano do grupo, Clayton e Viviane resolveram entrar para ajudar.Lesly...</p>

            <h2 class="section-heading">E comecaram as trocas</h2>

            <p>O Banco começou com 800 associados. A primeira troca foi feita por</p>

            <p>Em janeiro, Giba deixa a adm do grupo e geovana e Thais se concentram em fazer o BTF funcionar crescer enquanto Vivi e Clayton moderam o grupo.</p>

            <p>Em fevereiro, assembleia que fortalece o bTF como lugar de desenvolvimento de talentos.</p>
            <p>Em março, reunião para fazer a plataforma</p>
            <p>Em março, Green Drinks</p>
            <p>Em março, Luciana</p>
            <p>Em abril, equipe cresce Fran, Priscila, Jane</p>
            <p>outras pessoas</p>
            <p>Em julho Geo sai por ai e semea os bancos de x,y,z</p>
            <p>Outubro Blumenau começa a falar sobre a plataforma</p>
            <p>Outubro Geo</p>
            <p>Novembro se reestrutura Geo</p>
            <p>Janeiro Daniel Neddef</p>
            <p>Março plano estratégico</p>
            <p>Maio site</p>
            <p>Setembro outra estrutura</p>











            <blockquote class="blockquote">E os sonhos vão se concretizando</blockquote>

            <p>Sei lá o que escrever</p>

            <h2 class="section-heading">E qual é o futuro pensado?</h2>

            <p>Desenvolver Talentos através de uma economia diferente, mas não negar o sistema economico vigente</p>
            <p>fortalecer pessoas, comunidades, sonhos. </p>

            <a href="#">
              <img class="img-fluid" src="{% static 'btf_saldo/img/post-sample-image.jpg' %}" alt="">
            </a>
            <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

            <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>

            <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>

            <p>Placeholder text by
              <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
              <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
