{% extends 'btf_saldo/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

<!-- script autocomplete -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>

Antes de prosseguir, leia este texto com bastante atenção.

Um banco de tempo não é um grupo de trocas onde a gente oferece nossos serviços profissionais por uma moeda diferente. Num Banco de Tempo a gente troca nossos talentos por créditos de tempo iguais ao tempo que a gente dedicou para oferecer este talento para outra pessoa.
 
Você sabe o que é um talento ? Um talento vai muito além daquilo que a gente faz e troca por dinheiro. Leia este texto, para saber direitinho o que você pode oferecer aos outros associados.

Ao se cadastrar, você receberá 4 horas para fazer as suas primeiras trocas aqui. Você tem 90 dias para utilizar estas horas da maneira que for melhor para você, mas, o mais legal é usar estas horas com serviços que outros associados disponibilizam ou participar dos eventos em grupo. Assim, vocẽ conhece mais gente do banco que poderá te ajudar a se integrar melhor.
Para encontrar os talentos que outros associados oferecem, consulte a nossa lista de talentos. Fique de olho nas publicações do grupo também e, caso você veja alguém que precise de algum talento seu, se ofereça para ajudar. 
Mas, nestes primeiros 90 dias você não poderá cadastrar seus talentos na lista e nem oferecê-los nas publicações do grupo. Essa é uma forma de você descobrir como é que você quer colaborar com o grupo, além dos seus talentos profissionais.

O cadastro exige que você leia as informações nas telas, então, se você está com pouco tempo agora, faça este cadastro num outro momento.

entendi, tenho que ler as telas e quero prosseguir

Não estou com tempo agora e vou fazer meu cadastro em outra hora.

{% endblock %}