{% extends 'btf_saldo/base.html' %}

{% block content %}

<div class="text-center">
Nossa página no Facebook: <a href="https://www.facebook.com/btdefloripa/">@btdefloripa</a><BR>

Grupo de Trocas Talentos por Horas: <a href="https://www.facebook.com/groups/837082279745501/">Facebook</a><BR>

Grupo para anuncio de trocas diretas e doações: <a href="https://www.facebook.com/groups/837082279745501/">Núcleo de Compartilhamento do BTF</a><BR>

<a href="https://www.facebook.com/Projetos.Sociais.Banco.de.Tempo.Florianopolis/">Núcleo de Projetos Sociais</a><BR>

Projetos apoiados pelo BTF:<BR>
<a href="https://www.facebook.com/groups/139903159877890/">Projeto Reikianos</a><BR>
<a href="https://www.facebook.com/groups/156899004897600/?fref=gs&dti=837082279745501&hc_location=group">Banco de Idiomas e Projeto qualidade de Vida</a><BR>
Casa Amarela<BR>

<BR>Vídeos sobre o Banco de Tempo:<BR>

O que é um Banco de Tempo: <a href="https://www.youtube.com/watch?v=tEeGKucSMQg">(video da rede Graal em Portugal)</a><BR>
<a href="https://www.youtube.com/watch?v=7QylcZ4pYsw">Como o BTF funciona</a><BR>
<a href="https://www.youtube.com/watch?v=hqSyczjkROs&t=822s">Origem e Paradigmas do BTF</a><BR>
<a href="https://www.youtube.com/watch?v=SHimnxNzfQM&t=2093s">Lógica Econômica do BTF</a><BR>
</div>
{% endblock %}