{% extends 'btf_saldo/base.html' %}

{% block content %}
<h4 class="text-primary">Medidas de Segurança nas trocas no BTF</h4>
<span class="text-dark">
O Banco de Tempo acredita que seja possível a existência de uma sociedade melhor, que não vive no futuro distante, mas sim no aqui e no agora.<BR> 
Todavia, entendemos que os paradigmas que o Banco de Tempo convida à vivência, necessitam ser amadurecidos dentro das práticas de cada associado, por conta disso, estamos trabalhando para que haja confiança e segurança nas trocas realizadas através do grupo.<BR>  
Vale lembrar que o Banco de Tempo não se responsabiliza pela qualidade dos serviços e produtos, e que se atém à administração das horas contabilizadas dos membros.<BR><BR>
Pedimos a todos que leiam atentamente o <STRONG>Procedimento de Segurança</STRONG> para a solicitação de qualquer serviço ou produto:<BR>
<span class="text-info">Verificar o cadastro e os créditos da pessoa no Banco de Tempo:</span><br>
É obrigação do associado verificar se o solicitante possui créditos para se beneficiar dos serviços e produtos solicitados. <BR><BR>

<span class="text-info">Transparência na transação é essencial:</span><BR>
Para segurança dos associados, solicitamos que todas as negociações devem ocorrer dentro das postagens no grupo. Perguntando sobre os detalhes do serviço (todos mesmo!)  para confirmar a troca. Depois de repetir toda a negociação, recebendo enfim a confirmação da pessoa de que foi isso mesmo o acordado, segue-se a oficialização da troca. Desta forma acreditamos que a segurança quanto a qualidade e confiabilidade dos serviços e produtos ocorram de forma mais eficiente. <BR>
Seguindo na transparência: ainda que os detalhes tenham sido combinados inbox , a negociação final deve ser postada em comentários na postagem original, com data, hora, local e serviço combinado.<BR>
Transparência no trato: Sinceridade antes, durante e depois do trabalho é essencial, esse é um dos pilares dos paradigmas do Banco de Tempo.<BR>
Feedback: Cada serviço pode ser avaliado, tanto pelo prestador quanto pelo receptor. Essa ferramenta nos ajuda a manter em dia a avaliação da conduta dos associados.<BR>
Estar sempre acompanhado de um conhecido nas prestações de serviços é mais uma forma de gerar segurança entre os associados.<BR>
A RESPONSABILIDADE mútua de cada membro envolvido na troca é reforçada pelo “protocolo”, pois caso haja desentendimento, a administração e os membros terão o respaldo da transparência de toda a negociação.
As avaliações serão contabilizadas mensalmente, apenas o nível de satisfação com o serviço recebido ou realizado. Nomes dos usuários que receberam os serviços e produtos, e comentários anexos nunca serão divulgados.<BR>
Com duas avaliações negativas a administração entrará em contato com a pessoa em questão.<BR>
Para transtornos graves, o contato será imediato e para resolução, ambos os lados serão ouvidos.<BR>
</span>
{% endblock %}