{% extends 'btf_saldo/base.html' %}

{% block content %}

<h4>Lista de Talentos</h4>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col"> Classe </th> 
				<th scope="col"> Regiao </th> 
				<th scope="col"> Talento</th>
				<th scope="col"> Quem oferece</th>
			</tr>
		</thead>
		<tbody>

		{%	for	talento	in	talentos	%}
			<tr>
				<td>{{talento.talentoclasse}}</td>
				<td>{{talento.regiao}}</td>
				<td>{{talento.descricao}}</td>
				<td> {{	talento.quem	}} </td>
				
			</tr>

			
		{%	endfor	%}
		</tbody>
	</table>

{% endblock %}
