<!-- base.html -->

{% extends 'btf_saldo/base.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%	block	content	%}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

<!-- script autocomplete -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>

<!-- aqui form media -->
	{{ form.media.css }}
	
	<div class="container text-left">
    	<h3 class="display-0 m-0">Cadastro de Talentos</h1>
    	{% if operacao %}
    		<H3>Edição de Talento</H3>
    	{% else %}
    	 	<H3>Confirmação do seu cadastro</H3>
    		<p class="small text-info">
      		Confira se seu talento está cadastrado corretamente e clique em confirmar no final da tela.</p>
			<p class ="small text-info">Depois da confirmação, se você precisar alterar seu talento, envie um e-mail para cadastro@btfloripa.com.br</p>
		
		{% endif %}
  	

	<form	method="POST"	class="post-form">{%	csrf_token	%}
		{% bootstrap_form form %}			

		{% buttons submit='Confimar' %}{% endbuttons %}		

	</form>
	</div>
	<!-- form media -->
{{ form.media.js }}
{% endblock %}

	