{% extends 'btf_saldo/base.html' %}

{% block content %}

<h3>Cadastro de Talentos</h3>


	<p><small>Seu talento está cadastrado no BTF.</small></p>

    <div class="post">
            
        <p> Seu nome cadastrado no BTF: {{ talento.quem }}</p>
        <p> Area do Talento: {{ talento.talentoclasse }}</p>
        <p>Descrição: {{ talento.descricao }}</p>
        <p>Experienca: {{ talento.experiencia }}</p>
        <p>Regiao: {{ talento.regiao }}</p>

    </div>

<table border=0>
<tr>
<td width="15%"">&nbsp;</td><td><a href="{% url 'talento_crud' %}">Cadastrar outro talento</a></td>
<td width="15%"">&nbsp;</td><td><a href="{% url 'talento_list' %}">Lista Geral de Talentos</a></td>
</tr>
</table>          
        
    
{% endblock %}