<!-- base.html -->
{% extends 'btf_saldo/base.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%	block	content	%}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}


	<div class="container text-left">
    	<h3 class="display-0 m-0">Cadastro de Talentos - OK</h1>
		
    	<p class="small text-info">
      	* Seu talento foi cadastrado na Lista de Talentos do BTF. </p>


<table border=0>
<tr>
<td width="15%"">&nbsp;</td><td><a href="{% url 'talento_crud' %}">Cadastrar outro talento</a></td>
<td width="15%"">&nbsp;</td><td><a href="{% url 'talento_list' %}">Lista Geral de Talentos</a></td>
</tr>
</table>          
        
    
{% endblock %}