<!-- base.html -->
{% extends 'btf_saldo/base.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%	block	content	%}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

	<h3>Lista de Talentos</h4>

	<div class="table-responsive">
	<table class="table table-hover table-sm">
		<thead class="thead-light">
			<tr>
				<th scope="col"> Quem oferece </th> 
				<th scope="col"> Talento</th>
				<th scope="col"> Regiao</th>
			</tr>
		</thead>
		<tbody>
		
		{% for	talento	in	talentos	%}
			
			{%	ifchanged talento.talentoclasse  %}					
					<tr class="table-info text-center text-strong"><td colspan = "3"> {{ talento.talentoclasse }} </td></tr>					
			{%	endifchanged	%}
			
			<tr>
				<td> {{	talento.quem	}} </td>	
				<td>{{talento.descricao}}</td>
				<td>{{talento.regiao}}</td>

			</tr>
		{% 	empty	%}	

			<tr class="table-info"><td colspan="3">Ainda não temos talentos cadastrados</td></tr>
			
		{%	endfor	%}
		
		</tbody>
	</table>
	</div>

{% endblock %}
