<!-- base.html -->
{% extends 'btf_saldo/base.html' %}

<!-- staticfiles -->
{% load staticfiles %}

<!-- block content -->
{%	block	content	%}

<!-- aqui static -->
{% load static %}
<!-- aqui bootstrap4 -->
{% load bootstrap4 %}

<!-- script autocomplete -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>

<!-- aqui form media -->
	{{ form.media.css }}
	
	<div class="container text-left">
    	<h3 class="display-0 m-0">Cadastro de Talentos</h1>
    	
  	</div>

	<form	method="get"	class="post-form">{%	csrf_token	%}
		{% bootstrap_form filter.form %}			

		{% buttons submit='Pesquisar' %}{% endbuttons %}		

	</form>
<table class="table table-hover table-sm">
  {% for talento in filter.qs %}
  	<tr><td class> {{ talento.quem }}</td>
  		<td><a class="btn btn-outline-info btn-sm" href={% url 'talentos_edit2' pk=talento.pk %}> Alterar</a></td>
  		<td><a class="btn btn-outline-warning btn-sm" href={% url 'talento_del' pk=talento.pk %}> Apagar</a></td>
  		
  		<td class="col-sm"><small> - {{ talento.descricao }} </small></td>
  	</tr>
  {% endfor %}
  </table>
	<!-- form media -->
{{ form.media.js }}
{% endblock %}

